/* Base Styles */
$font-stack: 'Roboto', sans-serif;
$primary-color: #2b6cb0;
$secondary-color: #edf2f7;
$text-color: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-size: 16px;
}

html {
  background-image: linear-gradient(
    to right top,
    #2c5282,
    #315e93,
    #366ba5,
    #3a78b7,
    #3e86c9,
    #4591d3,
    #4d9bdc,
    #55a6e6,
    #64b0ea,
    #72baed,
    #81c3f1,
    #90cdf4
  );
  color: $text-color;
  font-family: $font-stack;
}

@import 'Home';
